.search--page
{
    height: 100%;
    width: 100%;
}
.search--title
{
    color: white;
    margin-left: 50px;
    margin-top: 70px;
    font-size: 2rem;
}
span{
    color:grey;
    font-size: 20px;
}
.search-desc
{
 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: 25px;
   color: white;
}
.search-desc img{
    height: 240px;
    width: 390px;
    margin: 5px;
    
}